APP_ENV=dev
SERVER_PORT=8080
MOCK_ENABLED=true
KNOWLEDGE_UPLOAD_DIR=data/uploads
KNOWLEDGE_MAX_FILE_SIZE_BYTES=2097152
RAG_CHUNK_SIZE=800
RAG_CHUNK_OVERLAP=100
RAG_EMBEDDING_DIM=64
RAG_DEFAULT_TOP_K=3
